<h1>Find your change</h1>
<form action="/result">
  <div class="form-group">
    <label for="cents">Enter the amount you need change for:</label>
    <input type="number" name="cents" id="cents">
  </div>
</form>
